#form{
    color:red;
    padding: 20px 2px opx 100px;
    /* padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px; */
    background-color: azure;
    width: 300px;
    border: 2px solid;
    margin-left:29%;
    border-radius:15px;



}